<ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;">
  <div nz-row>
    <div nz-col nzSpan="8">
      <li nz-menu-item>

        <nz-breadcrumb style="line-height: 64px;">
          <nz-breadcrumb-item>
            <a routerLink="/storymapping/list">maps</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a>具体map</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>

      </li>
    </div>
    <div nz-col nzSpan="2" nzOffset="12">
      <li nz-menu-item routerLink="/storymapping/edit/1"> 编辑</li>
    </div>
    <div nz-col nzSpan="2">
      <li nz-menu-item routerLink="/storymapping/manage/1"> 管理</li>
    </div>
  </div>
</ul>

<div *ngFor="let release of cards; let i = index;">
  <nz-divider nzText="{{getReleaseInfo(i)}}"></nz-divider>

  <div class="container">
    <div *ngFor="let card of release;" class="item">
      <app-card [card]="card"></app-card>
    </div>
    <div style="padding:10px;">
      <nz-card style="width:200px; height: 100px" [nzBordered]="false" (click)="addCardToRelease(release)">
        <i nz-icon type="plus" style="margin-left: 50px; font-size: 50px;"></i>
      </nz-card>
    </div>
  </div>
</div>

<nz-divider [nzText]="text">
  <ng-template #text>
    <button nz-button nzType="primary" (click)="addRelease()">添加版本</button>
  </ng-template>
</nz-divider>

