.release {
  display: flex;
  flex-direction: row; // 不写默认为 row
  flex-wrap: wrap;
}

nz-card:hover {
  box-shadow: 5px 5px 2px #888888;
  background-color: #fafafa;
  color: dodgerblue;
  cursor: pointer;
}

nz-card {
  width:200px;
  height: 100px;
  margin: 10px;
  font-size: 16px;
  padding: 0px;
}

